.vs
/build/
packages/
_ReSharper.*/
Scheduler/bin/
Scheduler/obj/
*/**/bin/Debug
*/**/obj/Debug
Scheduler/bin/*
Scheduler/obj/*
*/**/obj/Release
*/**/bin/Release
*obj/
*bin/
*.exe
*.pdb
*.manifest
*.cache
*.dll
*.suo
*.user
*.sdf
*.opensdf
*.tlog
*.log