
@{
    ViewData["Title"] = "Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Attendance</h1>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header" style="background-color: #019213 !important"></div>
            <div class="card-body">
                <p style="color: #920180;">This is purple</p>
                <p style="color: #920137;">This is red</p>
                <p style="color: #018092;">This is cyan</p>
            </div>
        </div>
    </div>
</div>